@import url('https://fonts.cdnfonts.com/css/heavitas');
@import url('https://fonts.cdnfonts.com/css/dm-sans');
     

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #691919;
  }
  .navbar img {
    height: 30px;
  }

  body {
    margin: 0;
    background-color: maroon;
  }

  div {
    box-shadow: 5px 5px 5px rgba(13, 13, 13, 0.254);
    margin: auto;
  }


  .box {
    background-color: rgb(255, 183, 0);
    border-radius: 30px;
    width: 47%;
    float: left;
    margin: 20px;
    text-align: center;
  }



h1{
    font-family: 'Heavitas', sans-serif;                                             
}

h3,h4,h5{
    font-family: 'DM Sans', sans-serif;
                                                
}

.picmap{
    width: 600px;   
}

#gym{
    background-color: rgb(255, 183, 0);
    border-radius: 30px;
    width: 47%;
    float: left;
    margin: 20px;
    text-align: center;
}

#oval{
    background-color: rgb(255, 183, 0);
    border-radius: 30px;
    width: 47%;
    float: left;
    margin: 20px;
    text-align: center;
}

#chapel{
    background-color: rgb(255, 183, 0);
    border-radius: 30px;
    width: 47%;
    float: left;
    margin: 20px;
    text-align: center;
}

#pool{
    background-color: rgb(255, 183, 0);
    border-radius: 30px;
    width: 47%;
    float: left;
    margin: 20px;
    text-align: center;
}

#pylon{
    background-color: rgb(255, 183, 0);
    border-radius: 30px;
    width: 47%;
    float: left;
    margin: 20px;
    text-align: center;
}

#guard{
    background-color: rgb(255, 183, 0);
    border-radius: 30px;
    width: 47%;
    float: left;
    margin: 20px;
    text-align: center;
}

#mabini{
    background-color: rgb(255, 183, 0);
    border-radius: 30px;
    width: 47%;
    float: left;
    margin: 20px;
    text-align: center;
}

#pe{
    background-color: rgb(255, 183, 0);
    border-radius: 30px;
    width: 47%;
    float: left;
    margin: 20px;
    text-align: center;
}

#tennis{
    background-color: rgb(255, 183, 0);
    border-radius: 30px;
    width: 47%;
    float: left;
    margin: 20px;
    text-align: center;
}

#nut{
    background-color: rgb(255, 183, 0);
    border-radius: 30px;
    width: 47%;
    float: left;
    margin: 20px;
    text-align: center;
}
